/* Stop y scrollbar from shifting page content by hiding x overflow */
html {
    overflow-x: hidden;
    margin-right: calc(-1    * (100vw - 100%));
    padding-top: 0;
    height: 100%;
}

body {
    min-height: 100%;
}

/* Skeleton helper funcs */
.u-text-center {
    text-align: center !important;
}

/* Simple Header*/
#header {
    padding-top: 2%;
    padding-bottom: 1%;
}
@media (max-width: 449px) {
 #header h1 {
    padding-top: 3%;
    margin-bottom: 0;
 }
}

/* Navbar and links */
#navbar a, .media a {
    color: inherit;
    text-decoration: none;
}

a {
    transition: 0.1s;
}

#navbar a:hover, .media a:hover {
    color: grey;
    cursor: pointer;
}

#navbar {
    background-color: white;
    color: black;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@media (max-width: 449px) {
    #navbar-container div:not(:last-of-type) {
        display: inline-block;
        margin-bottom: 5%;
    }
    #navbar hr {
        margin-bottom: 5%;
    }
}

/* Default spacer height, set dynamically by JS later */
#navbar-spacer {
    height: 0;
}

/* Make navbar stick to top of page, whilst maintaining container width */
.sticky {
    position: fixed;
    top: 0;
    width: inherit;
    max-width: inherit;
}

/* Center image in skeleton col */
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 449px) {
    .center-image {
        width: 60%;
        margin-bottom: 10%;
    }
}

/* Avoid excess spacing in social media links */
.socials {
    text-align: center;
    margin-top: 1rem;
}

/* No spacing below element */
.bottom-0 {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Fit profile image to div */
.profile-image {
    max-width: 75%;
}


.media p {
    margin-bottom: 1rem;
}

.date {
    opacity: 70%;
}

.films {
    /* border-right: solid grey 2px; */
}

li {
    font-size: 70%;
}